# Frontend Configuration

# Local Development
# NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Production / Live Server
NEXT_PUBLIC_API_URL=https://saas-school-system.vercel.app/api
NEXT_PUBLIC_APP_NAME=Multi-School Management System
